# Build output
build/
out/

# Visual Studio / VS Code noise
.vscode/
.vs/

# Windows junk
Thumbs.db
Desktop.ini

# CUDA / compiler artifacts
*.obj
*.o
*.pdb
*.exe
*.ilk

# Nsight Compute / profiler reports
*.ncu-rep
*.nsys-rep
*.qdrep
*.sqlite

# Output artifacts
out/

# Misc
.DS_Store
